<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3 d-flex justify-content-center">Friend List Web Appliaction</h1>
      <p>This is a template for a friend list or informational website. It includes the Name, Email, Contact, and Address field in which you can perform CURD operations. The complete implementation of Devise with Bootstarp designing. In which indvisual user can create its own friend list.</p>
      <p><a class="btn btn-primary btn-lg" href="users/sign_up" role="button">Register User »</a></p>
    </div>
  </div>



</main>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>